.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  color: #847979;
}

.search-bar input:focus {
  border: 1px solid #ccc;
}

.favorite {
  border: none;
  background-image: url('../../icons/e-commerce-like-heart.png');
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 10px;
  display: block;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

.favorite:focus {
  border: none;
  outline: none;
}