ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}

.col-3 {
  flex-basis: 23%;
  max-width: 25%;
}

.col-3 img {
  max-width: 100%;
}

  